body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(255, 174, 0);
    height: 1000px;
}

header{
    background-image: linear-gradient(to right,red,black);
    padding: 20px;
    color: white;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 10px;
}

footer{
    background-image: radial-gradient(red,black);
    color: white;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    position: fixed;
    width: 100%;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.container-details{
    margin-top: 100px;
}

.details{
    color: white;
    font-weight: bolder;
}

.info{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
    margin-top: 100px;
    padding-right: 300px;
}

.title{
    font-family: 'Tektur';
    color: white;
    font-size: 100px;
    letter-spacing: 5px; 
}